name: Release

on:
  push:
    tags: ["*"]
  workflow_dispatch:

env:
  MACOSX_DEPLOYMENT_TARGET: "10.15"

jobs:
  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false

  dist:
    needs: ["create-release"]
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            artifact-name: luau-lsp-win64
          - os: ubuntu-22.04
            artifact-name: luau-lsp-linux-x86_64
          - os: ubuntu-22.04-arm
            artifact-name: luau-lsp-linux-arm64
          - os: macos-latest
            artifact-name: luau-lsp-macos

    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: recursive

      - name: Build Server
        shell: bash
        run: |
          mkdir build && cd build
          cmake .. -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON -DLSP_STATIC_CRT:BOOL=ON -DLSP_BUILD_WITH_SENTRY:BOOL=OFF
          cmake --build . --config RelWithDebInfo --target Luau.LanguageServer.CLI -j 3

      - name: (MacOS) Verify universal build
        if: matrix.os == 'macos-latest'
        run: lipo -archs build/luau-lsp

      - name: Create Release Archive
        shell: bash
        run: |
          mkdir -p dist staging
          if [ "${{ matrix.os }}" = "windows-latest" ]; then
            cp "build/RelWithDebInfo/luau-lsp.exe" staging/
            cd staging
            7z a ../dist/server.zip *
          else
            cp "build/luau-lsp" staging/
            chmod 755 staging/luau-lsp
            cd staging
            zip ../dist/server.zip *
          fi

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.artifact-name }}
          path: ./dist

      - name: Upload Server to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create-release.outputs.upload_url }}
          asset_path: ./dist/server.zip
          asset_name: ${{ matrix.artifact-name }}.zip
          asset_content_type: application/octet-stream
